<div class="upcoming">
  <div class="container">
    <h1>Upcoming Workshops</h1>
    <div class="row">
      <div class="col-md-4 col-md-offset-2">
        <div class="well well-lg text-center">
          <h3>Engaging Young People in Risk Assessment</h3>
          <p>
            Introducing the 'tightrope model' to positively engage young people in recognising and managing 'risk' (for example, in offending, substance misuse and self harm).
          </p>
          <p><a href="/training">More about workshops...</a></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="well well-lg text-center">
          <h3>Skills sharing workshops for Troubled Families projects</h3>
          <p>
            Tailor made workshops can be developed to promote inter-professional family work. Ideal for teams with professionals from both youth work and early years parenting disciplines.
          </p>
          <p><a href="/training">More about workshops...</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
