body {
  font-size: 16px;
}

.content {
  background-color: #fff;
}

.navbar-default {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  background-color: #fff;
}

.navbar-toggle {
  margin-top: 40px;
}

.navbar-collapse {
  margin-top: 60px;
}

@media (max-width: 767px) {
  .navbar-default {
    margin: 0;
  }
  .nav-pills {
    float: none !important;
  }
  .nav-pills > li {
    float: none;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
  }
}

.banner {
  height: 200px;
  margin-bottom: 20px;
  background-color: #2b2b2b;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 15px rgba(0,0,0,0.3);
}

.intro-banner {
  margin-bottom: 20px;
  background-color: #2b2b2b;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 15px rgba(0,0,0,0.3);
}

.intro-banner h1 {
  color: #f5f5f5;
  text-shadow: 0 2px 2px rgba(0,0,0,0.3);
}

.intro-banner img {
  margin-right: 40px;
}

.intro {
  margin-top: 30px;
  margin-bottom: 30px;
}

.intro .info {
  max-width: 300px;
  margin: 0 auto 20px;
}

@media (max-width: 991px) {
  .intro-banner {
    text-align: center;
  }

  .intro-banner img {
    float: none !important;
    margin: 0 auto;
  }
}

h2 {
  margin-top: 40px;
}

blockquote {
  margin-top: 40px;
}

blockquote p {
  font-size: 20px;
}

.upcoming {
  margin-top: 40px;
  border-top: 1px solid #aaa;
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #bfccd5;
}

.upcoming h1 {
  text-align: center;
  margin-bottom: 50px;
}

.upcoming .well {
  max-width: 400px;
  margin: 0 auto 20px;
  border: 1px solid #aaa;
  background-color: #e5e5e5;
}

.contact {
  margin-top: 40px;
  font-size: 24px;
}

.contact .glyphicon {
  font-size: 36px;
}

.privacy {
  margin-top: 60px;
  font-size: 14px;
}

.footer-border-image {
  height: 60px;
  background-color: #2b2b2b;
  background-size: cover;
  background-position: bottom;
  box-shadow: inset 0 0 20px rgba(0,0,0,0.5);
}

.footer {
  font-size: 14px;
  margin-top: 0;
  padding-bottom: 30px;
}

.footer .col {
  margin-top: 40px;
}

.footer .glyphicon {
  margin-right: 5px;
}
