<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="">

    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

    <link rel="stylesheet" href="{{site.baseurl}}resources/bootstrap/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="{{site.baseurl}}resources/stylesheets/style.css?v=2" type="text/css" />
  </head>

  <body>
    <div class="navbar navbar-default" style role="navigation">
      <div class="container">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{site.url}}"> <img src="{{site.baseurl}}resources/images/balancing.png?v=3" height="120"></a>
        <div class="navbar-collapse collapse">
          <ul class="nav nav-pills pull-right">
            {% for node in site.data.navigation %}
              {% if page.url == node.page %}
              <li class="active"><a href="{{node.url}}" class="active">{{node.title}}</a></li>
              {% else %}
              <li><a href="{{node.url}}">{{node.title}}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div class="content">
    {{ content }}
    </div>

    <div class="footer-border-image" style="background-image: url({{site.baseurl}}resources/images/bushy_trees.png)"></div>

    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col col-md-3">
            <p><strong>Vlinder</strong></p>
            {% for node in site.data.navigation %}
              {% if node.footer %}
              <p><a href="{{node.url}}">{{node.title}}</a></p>
              {% endif %}
            {% endfor %}
          </div>
          <div class="col col-md-3">
            <p><strong>Contact</strong></p>
            <p><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:tightropetool@gmail.com">tightropetool@gmail.com</a></p>
            <p><span class="glyphicon glyphicon-earphone"></span> 07790 034084</p>
          </div>
          <div class="col col-md-3">
            <img src="{{site.baseurl}}resources/images/tightrope.png" height="120">
          </div>
          <div class="col col-md-3">
            <p class="copyright">&copy; 2021 Dr Roberta Evans</p>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{{site.baseurl}}resources/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
