---
layout: base
---

<div class="jumbotron intro-banner" style="background-image: url({{site.baseurl}}resources/images/water-ripples.jpg)">
  <div class="container">
    <div class="row">
      <!-- <div class="col-md-6">
        <img class="img-responsive pull-right" src="{{ site.baseurl }}resources/images/blue-butterfly.png">
      </div> -->
      <div class="col-md-6 col-md-offset-5">
        <h1>Youth Justice and Adolescent Development in Practice</h1>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="container">
    <div class="row intro">
      <div class="col-md-4">
        <div class="info text-center">
          <h2>Training and Consultancy</h2>
          <p>Experienced in delivering training to youth justice practitioners, social workers and students.</p>
          <p>Work with teams and managers to consult on new developments, policies or inducting new staff.<p>
          <p><a href="/training and consultancy">More about training and consultancy...</a></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="info text-center">
          <h2></h2>
          <h2>Publications</h2>
          <p>Published article from thesis for Professional Doctorate in Youth Justice.<p>
          <p>Written articles on youth justice, adolescence and the tightrope.</p>
          <p><a href="/publications">More about publications...</a></p>
       </div>
     </div>
     <div class="col-md-4">
        <div class="info text-center">
          <h2></h2>
          <h2>Resources</h2>
          <p>Available for purchase or download:<p>
          <p>- Toolkits<p>
          <p>- Videos<p>
          <p>- Workbooks</p>
          <p><a href="/resources">More about resources...</a><p>
          <p> or <a href="/contact">contact us</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
