---
layout: base
---

<div class="jumbotron intro-banner" style="background-image: url({{site.baseurl}}resources/images/water-ripples.jpg)">
  <div class="container">
    <div class="row">
      <!-- <div class="col-md-6">
        <img class="img-responsive pull-right" src="{{ site.baseurl }}resources/images/blue-butterfly.png">
      </div> -->
      <div class="col-md-6 col-md-offset-5">
        <h1>Be the butterfly - tapping for change</h1>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="container">
    <div class="row intro">
      <div class="col-md-4">
        <div class="info text-center">
          <h2>Tapping for Weightloss</h2>
          <p> to clear cravings and emotional eating.<p>
          <p><a href="/Tapping for Weightloss">More about tapping for weightloss...</a></p>
       </div>
     </div>
     <div class="col-md-4">
        <div class="info text-center">
          <h2></h2>
          <h2>Resources</h2>
          <p>Scripts to support your tapping at home<p>
          <p><a href="/resources">More about resources...</a><p>
          <p> or <a href="/contact">contact us</a></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="info text-center">
          <h2></h2>
          <h2>Tightrope</h2>
          <p>If you are looking for the Tightrope tool
          <p>Please go to www.tightropetool.com
    </div>
  </div>
</div>
