---
layout: base
---

<div class="jumbotron intro-banner" style="background-image: url({{site.baseurl}}resources/images/bushy_trees.png)">
  <div class="container">
    <div class="row">
      <!-- <div class="col-md-6">
        <img class="img-responsive pull-right" src="{{ site.baseurl }}resources/images/balancing.png">
      </div> -->
      <div class="col-md-6 col-md-offset-5">
        <h1>The Tightrope Tool</h1>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="container">
    <div class="row intro">
      <div class="col-md-4">
        <div class="info text-center">
          <h2>Adolescent Tightrope</h2>
          <p>A direct work tool for engaging young people in reflective discussions about risk and resilience.</p>
          <p>Includes workbook with research led prompt cards.<p>
          <p><a href="/adolescent tightrope">More about the Adolescent Tightrope...</a></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="info text-center">
          <h2></h2>
          <h2>Practioner Tightrope</h2>
          <p>A reflective supervision tool, using the tightrope analogy, to support practitioner resilience.<p>
          <p>Includes workbook with research led prompt cards.</p>
          <p><a href="/practitioner tightrope">More about the Practitioner Tightrope...</a></p>
       </div>
     </div>
     <div class="col-md-4">
        <div class="info text-center">
          <h2></h2>
          <h2>Publications</h2>
          <p>Published article from thesis for Professional Doctorate in Youth Justice.<p>
          <p>Written articles on youth justice, adolescence and the tightrope.</p>
          <p><a href="/publications">More about publications...</a></p>
          <p> or <a href="/contact">contact us</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
